<!DOCTYPE html>
<html>
  <head>
    <title>MyProducts App</title>
	  <!-- / after styles is important for path so to look in home directory-->
	  <link rel="stylesheet" href="/styles.css" type="text/css">
	  
	</head>
	<body>
		